.form-control {
  text-align: left !important;
}

.form {
  margin: auto;
  width: 40%;
  padding: 23px;
  color: var(--color-brand-primary-medium);
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 8px 8px 0px #00000040;
}

.bloco-botoes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.botao-enviar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 6px;
  background: var(--color-brand-primary-medium);
  color: white;
  border-radius: 15px;
  width: 120px;
}

.botao-limpar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 6px;
  background: var(--color-support-02-medium);
  color: var(--color-brand-primary-medium);
  border-radius: 15px;
  width: 120px;
  font-weight: 600;
}

.conteudo-modal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

@media screen and (max-width: 990px) {
  .form {
    width: 90%;
  }
}