.top-bar {
  height: 47px;
  background: var(--color-brand-primary-medium);
  border-radius: 10px 10px 0px 0px;
  width: 70%;
  margin: auto;
}

.conteudo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6px 12px 12px 12px;
}

.texto {
  width: 75%;
}

.delete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 19%;
}

.delete-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divider {
    border-left: 1px solid rgba(0,0,0,.125);
    height: 100px;
}

.titulo {
  font-weight: 500;
  font-size: 14px;
}

.ultimo-item {
  margin: 0px;
}

.pull-right {
  text-align: right;
}

.card {
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 8px 8px 0px #00000040;
}

.delete-texto {
  cursor: pointer;
}



.botao-atualizar {
  width: 120px;
  border-radius: 15px;
  color: white;
  background: var(--color-brand-primary-medium);
}
