.conteudo {
  display: flex;
  flex-direction: row;
}

.texto {
  width: 80%;
}

.delete {
  width: 20%;
  padding: 40px 0px 0px 20px;
  text-align: center;
}

.titulo {
  font-weight: 600;
}

.card {
  margin-bottom: 10px;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.texto-excluir:hover {
  color: crimson;
}

.botao-atualizar {
  width: 100%;
}
