<div class="top-bar">
  <div class="bloco- ml-3 mr-4">
    <div class="border-circle">
      <div class="circle">
        <div class="texto-sigla">{{ (sigla | uppercase) || '-' }}</div>
      </div>
    </div> 
  </div>
  <span class="texto-nome">{{ (cliente.nome | titlecase) || '-' }}</span>
</div>
<div class="card mb-4">
  <div class="conteudo">
    <div class="texto">
      <div class="pull-left titulo">
        <p>CPF</p>
        <p>Data Cadastro</p>
        <p class="ultimo-item">Renda Mensal</p>
      </div>
      <div class="pull-right">
        <p>{{ (cliente.cpf | cpf) || '-' }}</p>
        <p>{{ (cliente.dataCadastro | date: 'dd/MM/yyyy')  || '-' }}</p>
        <p class="ultimo-item">{{ (cliente.rendaMensal | currency:'BRL') || '-' }}</p>
      </div>
    </div>
    <div class="divider-v"></div>
    <div class="delete">
      <div>
        <button
          class="btn botao-excluir mt-4"
          type="button"
          (click)="onDeleted(cliente.id)"
        >
          <i-bs name="trash"
              width="20"
              height="20"
              class="color-primary-medium icon-bs">
          </i-bs>
          Excluir cliente
        </button>
      </div>
      <div class="divider-h mt-3"></div>
      <div>
        <button
          class="btn botao-atualizar mt-4"
          type="button"
          (click)="onSelected(cliente)"
        >
          <i-bs name="pencil-square"
              width="16"
              height="16"
              class="color-white icon-bs">
          </i-bs>
          Atualizar</button>
      </div>
    </div>
  </div>
</div>
