<div class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="filtro mt-5">
        <div class="input-group buscar">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <img src="../../assets/imagens/search-icon.svg">
            </span>
          </div>
          <input
            placeholder="procure por Nome, CPF ou Data Cadastro"
            type="text"
            id="filtro"
            class="form-control"
            [(ngModel)]="filtro"
          />
        </div>
        
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-order" [ngClass]="nome ? 'active' : ''">
            <input type="radio" name="options" id="option1" autocomplete="off" (click)="setOrder('Nome')"> Nome
          </label>
          <label class="btn btn-order" [ngClass]="dataCadastro ? 'active' : ''">
            <input type="radio" name="options" id="option2" autocomplete="off" (click)="setOrder('Data Cadastro')"> Data Cadastro
          </label>
          <label class="btn btn-order" [ngClass]="rendaMensal ? 'active' : ''">
            <input type="radio" name="options" id="option3" autocomplete="off" (click)="setOrder('Renda Mensal')"> Renda Mensal
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="lista-info">
    <p class="texto-quantidade-lista" *ngIf="filtro === ''">Visualizando <strong>{{exibirLista}}</strong> de <strong>{{clientes.length}}</strong> clientes cadastrados</p>
    <p class="texto-quantidade-lista" *ngIf="filtro !== ''">
      <span *ngIf="(clientes | filtro:{filtro, ordenacao}).length < 1">Não há clientes com esse filtro</span>
      <span *ngIf="(clientes | filtro:{filtro, ordenacao}).length === 1">Foi encontrado <strong>1</strong> cliente</span>
      <span *ngIf="(clientes | filtro:{filtro, ordenacao}).length > 1">Foram encontrados <strong>{{ (clientes | filtro:{filtro, ordenacao}).length }}</strong> clientes</span>
    </p>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <div *ngFor="let cliente of (clientes | filtro:{filtro, ordenacao}); let i = index; let last = last" [ngClass]="{'last-child': last}">
          <app-cliente-item
            *ngIf="i < exibirLista"
            [cliente]="cliente"
            (clienteSelected)="onClienteSelected(cliente)"
            (clienteDeleted)="openModal(templateModalConfirmar, cliente.id)">
          </app-cliente-item>
        </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <div class="botao-mostrar-mais" *ngIf="exibirLista < (clientes | filtro:{filtro, ordenacao}).length">
        <button
          class="btn mostrar-mais"
          type="submit"
          (click)="mostrarMais(3)"
        >
        <i-bs name="plus-square"
              width="16"
              height="16"
              class="color-primary-darkest icon-bs">
          </i-bs>
        Mostrar mais</button>
      </div>
    </div>
  </div>
</div>


<ng-template #templateModalConfirmar>
  <div class="modal-header">
     <h4 class="modal-title text-center">{{ tituloModalConfirmar || '-' }}</h4>
     <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">×</span>
     </button>
  </div>
  <div class="modal-body text-center conteudo-modal">
    <img src="../../assets/imagens/warning-icon.svg">
     {{ mensagemModalConfirmar || '-' }}
  </div>
  <div class="modal-footer">
     <button type="button" class="btn botao-confirmar" (click)="onClienteDeleted(templateModalDelete, idClienteSelecionado)">Excluir</button>
     <button type="button" class="btn botao-cancelar" (click)="modalRef.hide()">Voltar</button>
  </div>
</ng-template>


<ng-template #templateModalDelete>
  <div class="modal-header">
     <h4 class="modal-title text-center">{{ tituloModalDelete || '-' }}</h4>
     <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">×</span>
     </button>
  </div>
  <div class="modal-body text-center conteudo-modal">
    <img src="../../assets/imagens/{{iconModalDelete}}.svg">
     {{ mensagemModalDelete || '-' }}
  </div>
  <div class="modal-footer">
     <button type="button" class="btn botao-confirmar" (click)="modalRef.hide()">Ok</button>
  </div>
</ng-template>

